.pageup
    position: fixed
    bottom: 24px
    right: 16px
    display: flex
    align-items: center
    justify-content: center
    width: 80px
    height: 80px
    background: #59BD5A
    border-radius: 2px
    transition: transform 0.4s, box-shadow 0.4s, border-radius 0.4s
    &:hover
        transition: transform 0.4s, box-shadow 0.4s, border-radius 0.4s
        transform: scale(1.1)
        border-radius: 50%
        box-shadow: -1px -1px 10px rgb(255 255 255 / 30%)